[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
requests = "*"

[packages]
django = "==3.0.5"
django-crispy-forms = "*"
gunicorn = "*"
requests = "*"

[requires]
python_version = "3.7"
